/*General*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


* {
    color: aliceblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Robot Mono', monospace;
    overflow: visible;
}

/*Nav bar*/
.navbar {
    background-color: #1d2731;
    position: absolute;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar img {
    float: left;
    padding: 14px 16px;
}

.navbar img:hover {
    background: #ffcb05;
    color: #1d2731;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ffcb05;
    color: #1d2731;
}

button {
    color: #ffcb05;
    background-color: #1d2731;
    border: 1px solid #ffcb05;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
}

button:hover {
    color: #1d2731;
    background-color: #ffcb05;
    border: 1px solid #1d2731;
}

#right {
    float: right;
}

/*Body*/
body {
    background-color: #0b3c5d;
    margin-top: 65px;
    margin-bottom: 65px;
}

#diszes_div {
    background-color: #235789;
    display: grid;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    align-items: center;
    position: relative;
}

#left {
    position: absolute;
    left: 25%;
}

#email, #name{
    position: absolute;
    left: 45%;
}

input, textarea{
    color: #000;
    text-align: left;
    border-radius: 5px;
}

/*Footer*/
footer {
    position: fixed;
    width: 100%;
    left: 0px;
    height: 50px;
    bottom: 0px;
    background-color: #1d2731;
}

canvas {
    /*border: 3px solid #000000;*/
    background-color: #000000;
    /*border-radius: 25px;*/
}

th {
    border: 2px solid;
    width: auto;
}

.memorygame {
    border: none;
}